<app-navbar></app-navbar>
<br><br><br>

<div class="container">

  <div class="row" style="text-align: right">
    <div class="col-md-12">
      <a routerLink="/" class="btn btn-success"> Volver</a>
    </div>
  </div>

  <div class="tarjeta">
    <div class="imagencita" style="text-align: center;">
      <img src="./assets/ok.png">
    </div>
    <div class="row" style="text-align: center">
      <div class="col-md-12">
        <div class="titulo">
          <h1 class="display-4">Pago exitoso</h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12" style="text-align: center">
        <div class="subtitulo">
          <h4>Contrataste el paseo</h4>
        </div>
      </div>
    </div>
  </div>

</div>
