<app-navbar></app-navbar>
<br><br><br>


<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="alert alert-info" role="alert">
                <h4 class="alert-heading">Info del reporte 1 </h4>
                <p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p>
                <hr>
                <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
            </div>
            <button class="btn btn-primary btn-sm form-group" (click)="funcion_reporte_uno()">Reporte uno</button>
            <input type="date" id="fecha_reporte_uno" class="form-control form-group" placeholder="Ingrese fecha">

            <br>
                <table hidden id="tabla_reporte_uno" class="table display" style="text-transform: uppercase">
                <thead class="thead-dark">
                    <tr>
                    <th>Nombre</th>
                    <th>Mail</th>
                    </tr>
                </thead>
                <tbody>
                    <tr  mdbTableCol *ngFor="let rr1 of resultado_reporte_uno" >
                    <!-- <tr mdbTableCol> -->
                    <td>{{rr1.nombre}}</td>
                    <td>{{rr1.mail}}</td>
                    </tr>
                </tbody>
                </table>
            <br>
        </div>




        <div class="col-md-6">
            <div class="alert alert-danger" role="alert">
                <h4 class="alert-heading">Info del reporte 2 </h4>
                <p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p>
                <hr>
                <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
            </div>
            <button class="btn btn-primary btn-sm form-group" (click)="funcion_reporte_dos()">Reporte dos</button>
            <!-- <input type="date" id="fecha_reporte_dos" class="form-control form-group" placeholder="Ingrese fecha"> -->

            <br>
                <table hidden id="tabla_reporte_dos" class="table display" style="text-transform: uppercase">
                <thead class="thead-dark">
                    <tr>
                    <th>Nombre</th>
                    <th>Mail</th>
                    </tr>
                </thead>
                <tbody>
                    <tr  mdbTableCol *ngFor="let rr of resultado_reporte_dos" >
                    <!-- <tr mdbTableCol> -->
                    <td>{{rr.nombre}}</td>
                    <td>{{rr.mail}}</td>
                    </tr>
                </tbody>
                </table>
            <br>
        </div>
    </div>




    <div class="row">
        <div class="col-md-6">
            <div class="alert alert-warning" role="alert">
                <h4 class="alert-heading">Info del reporte 3 </h4>
                <p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p>
                <hr>
                <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
            </div>
            <button class="btn btn-primary btn-sm form-group" (click)="funcion_reporte_tres()">Reporte tres</button>
            <input type="date" id="fecha_reporte_tres" class="form-control form-group" placeholder="Ingrese fecha">

            <br>
                <table hidden id="tabla_reporte_tres" class="table display" style="text-transform: uppercase">
                <thead class="thead-dark">
                    <tr>
                    <th>Nombre</th>
                    <th>Mail</th>
                    </tr>
                </thead>
                <tbody>
                    <tr  mdbTableCol *ngFor="let rr of resultado_reporte_tres" >
                    <!-- <tr mdbTableCol> -->
                    <td>{{rr.nombre}}</td>
                    <td>{{rr.fecha}}</td>
                    </tr>
                </tbody>
                </table>
            <br>
        </div>




        <div class="col-md-6">
            <div class="alert alert-success" role="alert">
                <h4 class="alert-heading">Info del reporte 4 </h4>
                <p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p>
                <hr>
                <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
            </div>
            <button class="btn btn-primary btn-sm form-group" (click)="funcion_reporte_cuatro()">Reporte cuatro</button>
            <input type="date" id="fecha_reporte_cuatro" class="form-control form-group" placeholder="Ingrese fecha">
            <br>
            <div class="alert alert-primary" role="alert">
                <p id="cantidad_en_r4"></p>
              </div>
            <br>
                <table hidden id="tabla_reporte_cuatro" class="table display" style="text-transform: uppercase">
                <thead class="thead-dark">
                    <tr>
                    <th>Nombre</th>
                    <th>Registrado el</th>
                    </tr>
                </thead>
                <tbody>
                    <tr  mdbTableCol *ngFor="let rr of resultado_reporte_cuatro" >
                    <!-- <tr mdbTableCol> -->
                    <td>{{rr.nombre}}</td>
                    <td>{{rr.fecha_alta_como_usuario}}</td>
                    </tr>
                </tbody>
                </table>
                
            <br>
        </div>
    </div>

</div>
