<app-navbar></app-navbar>
<br><br><br>


<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-info" role="alert">
                <h4 class="alert-heading">Info del reporte 1 </h4>
                <p>Obtener los usuarios que no registran contratación de algun plan desde una fecha elegida</p>
                <hr>
                <p class="mb-0">Por favor seleccione una fecha</p>
            </div>
            <button class="btn btn-primary btn-sm form-group" (click)="funcion_reporte_uno()">Obtener resultados</button>
            <input type="date" id="fecha_reporte_uno" class="form-control form-group" placeholder="Ingrese fecha">

            <br>
                <table hidden id="tabla_reporte_uno" class="table display" style="text-transform: uppercase">
                <thead class="thead-dark">
                    <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Mail</th>
                    <th>Teléfono</th>
                    </tr>
                </thead>
                <tbody>
                    <tr  mdbTableCol *ngFor="let rr1 of resultado_reporte_uno" >
                    <!-- <tr mdbTableCol> -->
                    <td>{{rr1.nombre}}</td>
                    <td>{{rr1.apellido}}</td>
                    <td>{{rr1.mail}}</td>
                    <td>{{rr1.telefono}}</td>
                    </tr>
                </tbody>
                </table>
            <br>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-danger" role="alert">
                <h4 class="alert-heading">Info del reporte 2 </h4>
                <p>Obtiene los paseadores activos al dia de hoy</p>
                <hr>
            </div>
            <button class="btn btn-primary btn-sm form-group" (click)="funcion_reporte_dos()">Obtener resultados</button>
            <!-- <input type="date" id="fecha_reporte_dos" class="form-control form-group" placeholder="Ingrese fecha"> -->

            <br>
                <table hidden id="tabla_reporte_dos" class="table display" style="text-transform: uppercase">
                <thead class="thead-dark">
                    <tr>
                    <th>Usuario</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Mail</th>
                    <th>Teléfono</th>
                    </tr>
                </thead>
                <tbody>
                    <tr  mdbTableCol *ngFor="let rr of resultado_reporte_dos" >
                    <!-- <tr mdbTableCol> -->
                    <td>{{rr.usuario}}</td>
                    <td>{{rr.nombre}}</td>
                    <td>{{rr.apellido}}</td>
                    <td>{{rr.mail}}</td>
                    <td>{{rr.telefono}}</td>
                    </tr>
                </tbody>
                </table>
            <br>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-warning" role="alert">
                <h4 class="alert-heading">Info del reporte 3 </h4>
                <p>Cantidades de los alquileres que se registrarón para cada cancha desde una fecha</p>
                <hr>
                <p class="mb-0">Seleccione una fecha para obtener el reporte</p>
            </div>
            <button class="btn btn-primary btn-sm form-group" (click)="funcion_reporte_tres()">Obtener resultados</button>
            <input type="date" id="fecha_reporte_tres" class="form-control form-group" placeholder="Ingrese fecha">

            <br>
                <table hidden id="tabla_reporte_tres" class="table display" style="text-transform: uppercase">
                <thead class="thead-dark">
                    <tr>
                    <th>Nombre</th>
                    <th>Cantidad de alquileres</th>
                    </tr>
                </thead>
                <tbody>
                    <tr  mdbTableCol *ngFor="let rr of repetidos" >
                    <!-- <tr mdbTableCol> -->
                    <td>{{rr.NOMBRE}}</td>
                    <td>{{rr.CANTIDAD}}</td>
                    </tr>
                </tbody>
                </table>
            <br>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-success" role="alert">
                <h4 class="alert-heading">Info del reporte 4 </h4>
                <p>Obtiene un listado de personas que se registraron desde una fecha dada</p>
                <hr>
                <p class="mb-0">Seleccione una fecha</p>
            </div>
            <button class="btn btn-primary btn-sm form-group" (click)="funcion_reporte_cuatro()">Obtener resultados</button>
            <input type="date" id="fecha_reporte_cuatro" class="form-control form-group" placeholder="Ingrese fecha">
            <br>
            <div class="alert alert-primary" role="alert">
                <p id="cantidad_en_r4"></p>
              </div>
            <br>
                <table hidden id="tabla_reporte_cuatro" class="table display" style="text-transform: uppercase">
                <thead class="thead-dark">
                    <tr>
                    <th>Usuario</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Mail</th>
                    <th>Registrado el</th>
                    <th>Teléfono</th>
                    </tr>
                </thead>
                <tbody>
                    <tr  mdbTableCol *ngFor="let rr of resultado_reporte_cuatro" >
                    <!-- <tr mdbTableCol> -->
                    <td>{{rr.usuario}}</td>
                    <td>{{rr.nombre}}</td>
                    <td>{{rr.apellido}}</td>
                    <td>{{rr.mail}}</td>
                    <td>{{rr.fecha_alta_como_usuario}}</td>
                    <td>{{rr.telefono}}</td>
                    </tr>
                </tbody>
                </table>
                
            <br>
        </div>
    </div>

</div>
