<app-hero></app-hero>

<div class="container">
  
    <!-- <br>
    <div class="p-3 mb-2 mr-0 bg-dark text-white banner">Servicios</div>
    <div class="row">
      <div class="col-sm-4">
        <div class="card">
          <img class="card-img-top" src="../../../assets/s.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Futbol 5</h5>
            <p class="card-text">Disponemos de nuevas canchas con el mejor tercer tiempo</p>
            <a href="#" class="btn btn-primary">Mas</a>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="card">
          <img class="card-img-top" src="../../../assets/w.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Paseos</h5>
            <p class="card-text">Olvidate de pasear a tus mascotas, lo haremos por ti</p>
            <a href="#" class="btn btn-primary">Mas</a>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="card">
          <img class="card-img-top" src="../../../assets/sa.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Descuentos</h5>
            <p class="card-text">Aprovecha los beneficios de los comercios adheridos</p>
            <a href="#" class="btn btn-primary">Mas</a>
          </div>
        </div>
      </div>

    </div> -->
    
    <br><br>
    <div class="p-3 mb-2 mr-0 bg-dark text-white banner">Servicios</div>
    <div class="card-deck" >
      <div class="card" *ngFor="let card of servicios">
        <img class="card-img-top" src="{{card.imagen}}">
        <div class="card-body text-dark">
          <h5 class="card-title">{{card.nombre}}</h5>
          <p class="card-text">{{card.descripcion}}</p>
        </div>
        <div class="card-footer bg-white">
          <a href="#" class="btn btn-sm btn-block btn-outline-dark">Vea mas</a>
        </div>
      </div>
    </div>
  

  <br><br><br><br>
  <div class="p-3 mb-2 mr-0 bg-info text-white banner">Planes</div>
  <div class="container-imagen">
    <div class="row fila">
      <div class="col-sm-4" *ngFor="let card of planes">
        <div class="card">
          <img src="{{card.imagen}}">
          <div class="card-body text-info">
            <h5 class="card-title">{{card.nombre}}</h5>
            <p class="card-text">{{card.descripcion}}</p>
          </div>
        <div class="card-footer bg-white">
          <a class="nav-link btn btn-sm btn-block btn-outline-info text-info" 
            (click)="observarPlan(card)">Contratar
          </a>
            <!-- <a href="#" class="btn btn-sm btn-block btn-outline-info">Contratar</a> -->
          
          </div>
        </div>
      </div>
    </div>
  </div>

  <br><br><br><br><br>




<!-- Button trigger modal -->
<button type="button" class="btn btn-primary float-right mb-3" data-toggle="modal" data-target="#modalClub"
(click)="resetForm()">
  Nuevo
</button>

  <br>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th># </th>
        <th>Nombre</th>
        <th>Descuento</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr mdbTableCol *ngFor="let el of comercios">
        <th scope="row">{{el.id_comercio}}</th>
        <td>{{el.nombre}}</td>
        <td>{{el.descuento}}%</td>
        <td>
          <button routerLink="/" type="button" class="btn btn-danger" (click)="deleteComercio(el.id_comercio)"
            href="/">Eliminar</button>
        </td>
        <td>
          <button class="btn btn-info" (click)="preActualizarComercio(el)"
          data-toggle="modal" data-target="#modalClub">Modificar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<app-modal></app-modal>
