<app-navbar></app-navbar>

<app-hero></app-hero>

<div class="container">

    
    <br><br>
    <div class="p-3 mb-2 mr-0 bg-dark text-white banner">Servicios</div>
    <div class="card-deck" >
      <div class="card" *ngFor="let card of servicios">
        <img class="card-img-top" src="{{card.imagen}}">
        <div class="card-body text-dark">
          <h5 class="card-title">{{card.nombre}}</h5>
          <p class="card-text">{{card.descripcion}}</p>
        </div>
        <div class="card-footer bg-white">
          <a class="btn btn-sm btn-block btn-outline-dark"
          (click)="observarServicio(card)">Vea mas</a>
        </div>
      </div>
    </div>
  

  <br><br><br><br>
  <div class="p-3 mb-2 mr-0 bg-info text-white banner">Planes</div>
  <div class="container-imagen">
    <div class="row fila">
      <div class="col-sm-4" *ngFor="let card of planes">
        <div class="card">
          <img src="{{card.imagen}}">
          <div class="card-body text-info">
            <h5 class="card-title">{{card.nombre}}</h5>
            <p class="card-text">{{card.descripcion}}</p>
          </div>
        <div class="card-footer bg-white">
          <a class="nav-link btn btn-sm btn-block btn-outline-info text-info" 
            (click)="observarPlan(card)">Contratar
          </a>
            <!-- <a href="#" class="btn btn-sm btn-block btn-outline-info">Contratar</a> -->
          
          </div>
        </div>
      </div>
    </div>
  </div>

  <br><br><br><br><br>
</div>

<footer id="footer" class="py-4 bg-primary text-white-50">
  <div class=" text-center">
    <small>Club Niceto - +54 9 3442 452363 - Clubniceto@gmail.com</small>
  </div>
</footer> 



  <!-- <div class="copyright py-4 text-center ">
    <div class="container"><small>Polarito - Todos los derechos reservados - www.aguapolarito.epizy.com - aguapolarito@hotmail.com - JJG sw dev</small></div>
  </div> -->

  

