<app-navbar></app-navbar>
<br><br><br>

<div class="container">
<p style="border-radius: 10px" class="text-center p-3 mb-2 bg-danger text-white">USUARIOS ADMINISTRADORES</p>

<button  (click)="nuevo_admin()" data-toggle="modal" data-target="#modalNuevoAdmin" type="button" class="btn btn-outline-danger btn-sm mb-3"> + USER ADMIN
</button>
<br>
<table id="test_datatable_angular" class="table display" style="text-transform: uppercase">
  <thead class="thead-dark">
    <tr>
      <th>#</th>
      <th>Nombre</th>
      <th>Mail</th>
    </tr>
  </thead>
  <tbody>
    <tr  mdbTableCol *ngFor="let ua of usuarios_admines" >
      <th scope="row">{{ua.id_usuario}}</th>
      <td>{{ua.nombre}}</td>
      <td>{{ua.mail}}</td>
    </tr>
  </tbody>
</table>
<br>

  
  <p style="border-radius: 10px" class="text-center p-3 mb-2 bg-danger text-white">USUARIOS COMUNES</p>
<!--   <br>
  <p>pindonga</p> -->
  <br>
  <table id="test_datatable_angular2" class="table" style="text-transform: uppercase">
    <thead class="thead-dark">
      <tr>
        <th>#</th>
        <th>Nombre</th>
        <th>Mail</th>
      </tr>
    </thead>
    <tbody>
      <tr mdbTableCol *ngFor="let un of usuarios_normales" >
        <th scope="row">{{un.id_usuario}}</th>
        <td>{{un.nombre}}</td>
        <td>{{un.mail}}</td>
   
      </tr>
    </tbody>
  </table>
<br>
  
<p style="border-radius: 10px" class="text-center p-3 mb-2 bg-danger text-white">DATOS DE PERSONAS [USUARIOS]</p>
<button type="button" class="btn btn-outline-danger btn-sm mb-3" data-toggle="modal" data-target="#modalNuevaPersona"
(click)="resetForm()">
  + PERSONA
</button>

<table id="test_datatable_angular3" class="table">
  <thead class="thead-dark">
    <tr>
      <th>#</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Dni</th>
      <th>G familiar</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr mdbTableCol *ngFor="let el of personas" >
      <th scope="row">{{el.id_persona}}</th>
      <td>{{el.nombre}}</td>
      <td>{{el.apellido}}</td>
      <td>{{el.dni}}</td>

      <td *ngIf="el.id_gfamiliar == 1">Si</td>
      <td *ngIf="el.id_gfamiliar == 2">No</td>
      <td>
        <button  type="button" class="btn btn-danger" 
        (click)="deletePersona(el.id_persona)" href="/admin/usuarios">Eliminar</button>
      </td>
      <td>
        <button class="btn btn-info" (click)="preActualizarPersona(el)" 
        data-toggle="modal" data-target="#modalNuevaPersona">Modificar</button>
      </td>
    </tr>
  </tbody>
</table>
</div>
<app-modal-nueva-persona></app-modal-nueva-persona>
<app-modal-new-useradmin></app-modal-new-useradmin>