

#registro {
    margin-top: 15%;
  }
  
  .card {
    -webkit-box-shadow: 10px 10px 11px 6px rgba(0, 0, 0, 0.32);
    -moz-box-shadow: 10px 10px 11px 6px rgba(0, 0, 0, 0.32);
    box-shadow: 10px 10px 11px 6px rgba(0, 0, 0, 0.32);
  }


  