<div class="modal fade" id="modalNuevoAdmin" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-md modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header bg-danger">
        <h5 class="modal-title text-white" id="exampleModalLabel">USER ADMIN</h5>
        <button type="button" class="close" style="color: white" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">


        <form class="form-usuarioadmin" #formUsuarioadmin="ngForm" (ngSubmit)="alta_usuario_admin(formUsuarioadmin)">

            <!-- <label for="">Hiden ID</label> -->
            <input type="hidden" id="id_usuario" name="id_usuario" class="form-control"
              [(ngModel)]="this.servicio.selectedUsuarioAdmin.id_usuario">

          <div class="row mb-4" style="margin-top: 1rem">
            <div class="col-md-12">
              <input type="text" name="nombre" placeholder="Ingrese nombre del usuario" id="nombre"
                class="form-control" [(ngModel)]="this.servicio.selectedUsuarioAdmin.nombre">
            </div>
          </div>

          <div class="row mb-4">
            <div class="col-md-12">
              <input type="mail" name="mail" placeholder="Ingrese correo para el nuevo usuario" id="mail"
                class="form-control" [(ngModel)]="this.servicio.selectedUsuarioAdmin.mail">
            </div>
          </div>

          <div class="row mb-4 mt-4" style="text-align: right">
            <div class="col">
              <button type="submit" class="btn btn-danger">Confirmar</button>
            </div>
        
      </div>
    </form>
    </div>
  </div>
</div>
</div>
