.card img{
    max-width: 22rem;
    max-height: 26rem;
    height: 50%;
    width: 100%;

}

.imagencita img{
    max-width: 30rem;
}


@media only screen and (min-width : 480px) and (max-width : 700px) {
    .imagencita img{
        max-width: 1px;
    }



}