<app-navbar></app-navbar>
<br><br><br>
<div class="container">
  <p class="text-center p-3 mb-2 bg-info text-white">ADMINISTRACION PASEOS </p>
  <h1> Paseadores</h1>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th hidden># </th>
        <th>Usuario</th>
        <th>Solicitud paseador</th>
        <th>Estado paseador</th>
        <th>Baja</th>
        <th>Borrar</th>
      </tr>
    </thead>
    <tbody>
      <tr mdbTableCol *ngFor="let usr of usuarios_si">
        <th hidden scope="row">{{usr.id_usuario}}</th>
        <td style="text-transform: uppercase">{{usr.nombre}}</td>
        <td *ngIf="usr.paseador == true" class="text-info">Solicita ser paseador</td>
        <td *ngIf="usr.paseador == false">No envio solicitud</td>
        <td id="celdaT" *ngIf="usr.paseador_habilitado == true" class="text-success">Paseador activo</td>
        <td id="celdaF" *ngIf="usr.paseador_habilitado == false" class="text-danger">No es paseador</td>
        <td>
          <button type="button" class="btn btn-warning text-white" (click)="baja_paseador(usr.id_usuario)">Baja</button>
        </td>
        <td>
          <button class="btn btn-info" (click)="alta_paseador(usr.id_usuario)">Habilitar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
